<form [formGroup]="form">
  <div class="row mb-5">
    <div class="col">
      <h2>Create new order</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="form-label">Customer name</label>
      <input
        type="text"
        name="customerName"
        class="form-control"
        placeholder="Customer name"
        formControlName="customerName"
      />
    </div>
    <div class="col">
      <label class="form-label">Order title</label>
      <input
        type="text"
        name="orderTitle"
        class="form-control"
        placeholder="Order title"
        formControlName="orderTitle"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">Order description</label>
      <input
        type="text"
        name="orderDescription"
        class="form-control"
        placeholder="Order description"
        formControlName="orderDescription"
      />
    </div>
    <div class="col">
      <label class="form-label">Order date</label>
      <input
        type="date"
        name="date"
        class="form-control"
        formControlName="orderDate"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">Street</label>
      <input
        type="text"
        name="street"
        class="form-control"
        placeholder="Street"
        formControlName="street"
      />
    </div>
    <div class="col">
      <label class="form-label">Hous Number</label>
      <input
        type="number"
        name="housNumber"
        class="form-control"
        placeholder="Hous number"
        formControlName="housNumber"
      />
    </div>
    <div class="col">
      <label class="form-label">Zipcode</label>
      <input
        type="text"
        name="zipCode"
        class="form-control"
        placeholder="Zipcode"
        formControlName="zipCode"
      />
    </div>
    <div class="col">
      <label class="form-label">City</label>
      <input
        type="text"
        name="city"
        class="form-control"
        placeholder="City"
        formControlName="city"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">E-Mail</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="E-Mail"
        formControlName="email"
      />
    </div>
    <div class="col">
      <label class="form-label">Phone</label>
      <input
        type="text"
        name="phone"
        class="form-control"
        placeholder="Phone"
        formControlName="phone"
      />
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col">
      <label class="form-label">Select employee</label>
      <select
        class="form-control"
        name="selectEmployee"
        formControlName="selectEmployee"
        (change)="selectEmployee($event)"
      >
        <option>--Select--</option>
        <option *ngFor="let employee of employeesList">
          {{ employee.lastName }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">Additional message</label>
      <textarea
        name="message"
        class="form-control"
        placeholder="Additional message"
        formControlName="message"
      ></textarea>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="saveOrder()"
      >
        Save
      </button>
      <button class="btn btn-warning mx-2">Cancel</button>
      <button class="btn btn-danger">Reset</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ form.value.orderTitle }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert" *ngIf="isSuccess">
          {{ modalText }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="orderWrong">
          {{ modalText }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
