<app-side-navbar></app-side-navbar>
<div class="cont">
  <div class="boxes">
    <div class="edit-form" *ngIf="openEditForm">
      <app-add-personal
        [form]="selectedUser"
        [imageUrl]="imageUrl"
        (selectImg)="selectImg()"
        (selectcountry)="selectCountry()"
      ></app-add-personal>
    </div>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Tel</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let personal of personals">
          <th>{{ personal.id }}</th>
          <td>{{ personal.firstName }}</td>
          <td>{{ personal.lastName }}</td>
          <td>{{ personal.email }}</td>
          <td>
            {{ personal.phone }}
          </td>

          <td>
            <span
              class="material-symbols-outlined edit"
              (click)="editPersonal(personal.id)"
            >
              edit
            </span>
          </td>
          <td>
            <span
              class="material-symbols-outlined delete"
              (click)="deletePersonal(personal.id)"
            >
              delete
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
