.card-box {
    width: 100%;
    _min-height: 100vh;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .row {
      margin-left: 5rem;

      @media(max-width:902px){flex-wrap: wrap;; margin: 1rem 5rem;}
      @media(max-width: 685px){
        margin-left: .5rem;
      }
      @media(max-width:472px){width: 90%; margin-left: 2.2rem;}
      .col {
        @media(max-width:902px){margin: .3rem 0;}

          
          .card {
            cursor: pointer;
            background-color: var(--links-color);

            border: none;
          .card-body {


            h5 {
              cursor: pointer;
              
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }