<div class="card-box">
  <div class="row">
    <div class="col">
      <div
        class="card bg-dark text-light"
        routerLink="/personal-overview"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5 class="text-break">Personalmanagement</h5>
          <div class="list-group mt-5 pb-4">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <app-badge [badge]="currentPersonalLength"></app-badge>
              </div>
              <!-- <p>Total number of staff.</p> -->
              <small class="text-light"
                >Here you can edit or delete employees here</small
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-light bg-dark pb-4"
        routerLink="/order-overview"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Create new order</h5>
          <div class="list-group mt-5 pb-2">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <p></p>
              </div>
              <!-- <p class="">Create an order and then assign employees</p> -->
              <small class="text-light">And some small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-light bg-dark"
        routerLink="/add-new-employe"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Add new Employes</h5>
          <div class="list-group mt-5 pb-5">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <!-- <app-badge [badge]="employeeLength"></app-badge> -->
              </div>
              <!-- <p class="">Some placeholder content in a paragraph.</p> -->
              <small class="text-light">Create a new employee here.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <div
        class="card bg-dark text-light"
        routerLink="/employee-time"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Employee time overview</h5>
          <div class="list-group mt-5">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <app-badge [badge]="0"></app-badge>
              </div>
              <!-- <p class="">Some placeholder content in a paragraph.</p> -->
              <small class="text-light">And some small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-light bg-dark"
        routerLink="/employee-requests-overview"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Employee vacation requests overview</h5>
          <div class="list-group mt-5">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <app-badge [badge]="requestsLength"></app-badge>
              </div>
              <!-- <p class="">Some placeholder content in a paragraph.</p> -->
              <small class="text-light">And some small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <div
        class="card bg-dark text-light"
        routerLink="/current-orders-overview"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Current orders</h5>
          <div class="list-group mt-5">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <app-badge [badge]="currentOrderLength"></app-badge>
              </div>
              <!-- <p class="">Some placeholder content in a paragraph.</p> -->
              <small class="text-light">And some small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-light bg-dark"
        routerLink="/all-notification-of-illness"
        routerLinkActive="active"
      >
        <div class="card-body">
          <h5>Notification of illness</h5>
          <div class="list-group mt-5">
            <a
              class="list-group-item bg-transparent border border-0"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <!--badge-->
                <app-badge [badge]="sickNotificationLength"></app-badge>
              </div>
              <!-- <p class="">Some placeholder content in a paragraph.</p> -->
              <small class="text-light">And some small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
