.cont {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bgc);
  color: var(--textColor);
  display: flex;
  justify-content: space-around;

  .box {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    
    .content {
      width: 75%;
      text-align: center;
      border:1px solid red;

      @media (max-width: 943px) {
        width: 100%;
      }
      .header {
        padding: 1rem;
      }
    }
  }
}

.row {
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

