<div class="cont">
  <div id="aside" class="aside">
    <div class="links">
      <span class="material-symbols-outlined" (click)="expandAside()">
        menu
      </span>
    </div>
    <div class="links">
      <span class="material-symbols-outlined"> dashboard </span>
      <span class="link-text">Dashboard</span>
    </div>
    <div class="links">
      <span class="material-symbols-outlined"> person </span>
      <span class="link-text">Personal</span>
    </div>
    <div class="links">
      <span class="material-symbols-outlined"> schedule </span>
      <span class="link-text">Time</span>
    </div>
    <div class="links">
      <span class="material-symbols-outlined"> settings </span>
      <span class="link-text">Settings</span>
    </div>
    <div class="links">
      <span class="material-symbols-outlined" (click)="toggleTheme()">
        contrast
      </span>
      <span class="link-text">Darkmode</span>
    </div>
    <div class="links-end">
      <span class="material-symbols-outlined"> logout </span>
      <span class="link-text">Logout</span>
    </div>
  </div>
</div>
