.cont {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bgc);
  color: var(--textColor);

  .box {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;

    .content {
      width: 75%;
      margin-top: 2rem;

      @media (max-width: 920px) {
        width: 100%;
      }

      .header {
        padding: 1rem;
        text-align: center;
      }
    }
  }
}
