.cont {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bgc);
  color: var(--textColor);

  .box {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;

    .content {
      width: 60%;
      margin-top: 2rem;

      @media (max-width: 600px) {
        width: 70%;
      }
      @media (max-width: 500px) {
        margin-left: clamp(4rem, 8rem, 1rem);
      }
      @media (max-width: 420px) {
        width: 80%;
        margin-left: clamp(10rem, 12rem, 4rem);
      }

      .header {
        padding: 1rem;
        border: 1px solid gray;
      }
    }
  }
}
