/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    //color
    --darkblue:rgb(19, 19, 29);
    --light-orange:rgb(255, 105, 51);
    --mat-blue:rgb(66, 122, 174);
    --purple:rgb(123, 25, 123);
    --light-gray:rgb(233, 233, 233);
    --links-color:rgb(216, 244, 255);
    --orange-red: red;

    // darkmode
    --bgc: rgb(238, 229, 229);
    --textColor:black;

    //border
    --border: 1px solid lightgray;

    //border-radius
    --border-radius: .3rem;

    //margin
    --margin-xl: 2rem;
}

[data-theme="dark"]{
    --bgc:rgb(38, 38, 38);
    --textColor:white;
}



html,body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.active {
    color: blue;
    font-weight: 800;
    box-shadow: 0px 0px 10px skyblue;
}

