.cont{
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bgc);
    color: var(--textColor);
    display: flex;
    // justify-content: space-between;
    

    .box{
        width: 90%;
        min-height: 70vh;
        margin-top: 11.3rem;
        display: flex;
        justify-content: center;
        .list-group{
            width: 70%;

            @media(max-width: 820px){
                width: 95%;
            }
            @media(max-width: 530px){
                width: 99%;
            }
        }
    }


}