<div id="aside" class="aside">
  <div class="links">
    <span
      class="material-symbols-outlined"
      title="Menü"
      (click)="expandAside()"
    >
      menu
    </span>
  </div>
  <div class="links" routerLink="/dashboard-overview" routerLinkActive="active">
    <span class="material-symbols-outlined" title="Dashboard"> dashboard </span>
    <span class="link-text">Dashboard</span>
  </div>
  <div class="links" routerLink="/personal-overview" routerLinkActive="active">
    <span class="material-symbols-outlined" title="Personal Overview">
      person
    </span>
    <span class="link-text">Personal</span>
  </div>
  <div class="links">
    <span class="material-symbols-outlined" title="Time Overview">
      schedule
    </span>
    <span class="link-text">Time</span>
  </div>
  <div class="links" routerLink="/add-new-employe" routerLinkActive="active">
    <span class="material-symbols-outlined"> person_add </span>
    <span class="link-text">Add new employee</span>
  </div>
  <div class="links" routerLink="/employee-time" routerLinkActive="active">
    <span class="material-symbols-outlined"> work_history </span>
    <span class="link-text">Employee time</span>
  </div>
  <div class="links" routerLink="/order-overview" routerLinkActive="active">
    <span class="material-symbols-outlined"> list_alt </span>
    <span class="link-text">Create new order</span>
  </div>
  <div class="links">
    <span class="material-symbols-outlined" title="Settings"> settings </span>
    <span class="link-text">Settings</span>
  </div>
  <div class="links">
    <span
      class="material-symbols-outlined"
      title="Dark and Light Mode"
      (click)="toggleTheme()"
    >
      contrast
    </span>
    <span class="link-text">Darkmode</span>
  </div>
  <div class="links">
    <span class="material-symbols-outlined" title="Software Info">
      question_mark
    </span>
    <span class="link-text">Software Info</span>
  </div>
  <div class="links" (click)="isEmployeeLogd()" routerLinkActive="active">
    <span class="material-symbols-outlined" title="Log in"> login </span>
    <span class="link-text">Log in</span>
  </div>
  <div class="links-end">
    <span class="material-symbols-outlined" title="Logout" (click)="logout()">
      logout
    </span>
    <span class="link-text">Logout</span>
  </div>
</div>
